    <div class="login-box">
      <div class="lb-header">
        <a href="#" class="active" id="login-box-link">Login</a>
        <a href="/register" id="signup-box-link">Sign Up</a>
      </div>
      <div class="social-login">
        <a ><i class="fa fa-facebook fa-lg"></i>Login in with Facebook</a>
        <a (click)="googleLogIn()"><i class="fa fa-google fa-lg"></i>Log in with Google</a>
      </div>
      <form (submit)="loginEmail()" class="email-login">
        <div class="u-form-group">
          <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" value="to.demo.example@gmail.com" placeholder="Email"/>
        </div>
        <div class="u-form-group">
          <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" value="ToDemoExample123" placeholder="Password"/>
        </div>
        <div class="u-form-group">
          <button >Log in</button>
        </div>
        <div class="u-form-group">
          <a href="/reset-password" class="forgot-password">Forgot password?</a>
        </div>
      </form>
    
    </div>