
  
  <!-- Next Steps -->
  <h2>Hello!</h2>
  <p>And welcome to {{title}} </p>

  <li><button (click)="startTheNoteC4(sound)" [ngClass]="'whiteBtn'">Do</button></li>
  <li><button (click)="startTheNoteCD4(sound)" [ngClass]="'blackBtn'">cd4</button></li>
  <li><button (click)="startTheNoteD4(sound)" [ngClass]="['whiteBtn', 'middleBtn']">Re</button></li>
  <li><button (click)="startTheNoteDE4(sound)" [ngClass]="'blackBtn'">de4</button></li>
  <li><button (click)="startTheNoteE4(sound)" [ngClass]="['whiteBtn', 'middleBtn']">Mi</button></li>
  <li><button (click)="startTheNoteF4(sound)" [ngClass]="'whiteBtn'">Fa</button></li>
  <li><button (click)="startTheNoteFG4(sound)" [ngClass]="'blackBtn'">fg4</button></li>
  <li><button (click)="startTheNoteG4(sound)" [ngClass]="['whiteBtn', 'middleBtn']">Sol</button></li>
  <li><button (click)="startTheNoteGA4(sound)" [ngClass]="'blackBtn'">ga4</button></li>
  <li><button (click)="startTheNoteA4(sound)" [ngClass]="['whiteBtn', 'middleBtn']">La</button></li>
  <li><button (click)="startTheNoteAB4(sound)" [ngClass]="'blackBtn'">ab4</button></li>
  <li><button (click)="startTheNoteB4(sound)" [ngClass]="['whiteBtn', 'middleBtn']">Si</button></li>
  <li><button (click)="startTheNoteC5(sound)" [ngClass]="'whiteBtn'">Do</button></li>
  <li><button (click)="startTheNoteCD5(sound)" [ngClass]="'blackBtn'">cd5</button></li>
  <li><button (click)="startTheNoteD5(sound)" [ngClass]="['whiteBtn', 'middleBtn']">Re</button></li>
  <li><button (click)="startTheNoteDE5(sound)" [ngClass]="'blackBtn'">de5</button></li>
  <li><button (click)="startTheNoteE5(sound)" [ngClass]="['whiteBtn', 'middleBtn']">Mi</button></li>
  <li><button (click)="startTheNoteF5(sound)" [ngClass]="'whiteBtn'">Fa</button></li>
  <li><button (click)="startTheNoteFG5(sound)" [ngClass]="'blackBtn'">fg5</button></li>
  <li><button (click)="startTheNoteG5(sound)" [ngClass]="['whiteBtn', 'middleBtn']">Sol</button></li>
  <li><button (click)="startTheNoteGA5(sound)" [ngClass]="'blackBtn'">ga5</button></li>
  <li><button (click)="startTheNoteA5(sound)" [ngClass]="['whiteBtn', 'middleBtn']">La</button></li>
  <li><button (click)="startTheNoteAB5(sound)" [ngClass]="'blackBtn'">ab5</button></li>
  <li><button (click)="startTheNoteB5(sound)" [ngClass]="['whiteBtn', 'middleBtn']">Si</button></li>

<router-outlet></router-outlet>