   
    <input type = 'button' *ngIf="isLogin" (click)="logOut()" [ngClass]="'logOutBtn'" value='Log Out'/>
    <input type = 'button' (click)="startSong('LaCucaracha')" [ngClass]="'buttonSong1'" value='La Cucaracha'/>
    <input type = 'button' (click)="startSong('ItsyBitsySpider')" [ngClass]="'buttonSong1'" value='Itsy Bitsy Spider'/>
    <input type = 'button' (click)="startSong('RowYourBoat')" [ngClass]="'buttonSong1'" value='Row Your Boat'/>
    <input type = 'button' (click)="startSong('Rugrats')" [ngClass]="'buttonSong1'" value='Rugrats'/>
    <input type = 'button' *ngFor="let song of songs | async" (click)="setCurrentSong(song.notes)" [ngClass]="'buttonSong1'" value='{{song.name}}'/>
    
    <button (click)="recordSong()" [ngClass]="{invisible: isRecording, recBtn: true}"> Record </button>
    <button (click)="stopRecSong()" [ngClass]="{invisible: !isRecording, recBtn: true}"> Stop the Record </button>
    <div (window:keyup)="onKeydown($event)"></div>
    <ul>
        <li><button (click)="startTheNote('c4')" [ngClass]="{whiteBtn: true, highlightBtn: isHighlighted.c4}" id="c4"></button></li>
        <li><button (click)="startTheNote('cd4')" [ngClass]="{blackBtn: true, highlightBtn: isHighlighted.cd4}" id="cd4"></button></li>
        <li><button (click)="startTheNote('d4')" [ngClass]="{whiteBtn: true, highlightBtn: isHighlighted.d4, middleBtn: true}" id="d4"></button></li>
        <li><button (click)="startTheNote('de4')" [ngClass]="{blackBtn: true, highlightBtn: isHighlighted.de4}" id="de4"></button></li>
        <li><button (click)="startTheNote('e4')" [ngClass]="{whiteBtn: true, highlightBtn: isHighlighted.e4, middleBtn: true}" id="e4"></button></li>
        <li><button (click)="startTheNote('f4')" [ngClass]="{whiteBtn: true, highlightBtn: isHighlighted.f4}" id="f4"></button></li>
        <li><button (click)="startTheNote('fg4')" [ngClass]="{blackBtn: true, highlightBtn: isHighlighted.fg4}" id="fg4"></button></li>
        <li><button (click)="startTheNote('g4')" [ngClass]="{whiteBtn: true, highlightBtn: isHighlighted.g4, middleBtn: true}" id="g4"></button></li>
        <li><button (click)="startTheNote('ga4')" [ngClass]="{blackBtn: true, highlightBtn: isHighlighted.ga4}" id="ga4"></button></li>
        <li><button (click)="startTheNote('a4')" [ngClass]="{whiteBtn: true, highlightBtn: isHighlighted.a4, middleBtn: true}" id="a4"></button></li>
        <li><button (click)="startTheNote('ab4')" [ngClass]="{blackBtn: true, highlightBtn: isHighlighted.ab4}" id="ab4"></button></li>
        <li><button (click)="startTheNote('b4')" [ngClass]="{whiteBtn: true, highlightBtn: isHighlighted.b4, middleBtn: true}" id="b4"></button></li>
        <li><button (click)="startTheNote('c5')" [ngClass]="{whiteBtn: true, highlightBtn: isHighlighted.c5}" id="c5"></button></li>
        <li><button (click)="startTheNote('cd5')" [ngClass]="{blackBtn: true, highlightBtn: isHighlighted.cd5}" id="cd5"></button></li>
        <li><button (click)="startTheNote('d5')" [ngClass]="{whiteBtn: true, highlightBtn: isHighlighted.d5, middleBtn: true}" id="d5"></button></li>
        <li><button (click)="startTheNote('de5')" [ngClass]="{blackBtn: true, highlightBtn: isHighlighted.de5}" id="de5"></button></li>
        <li><button (click)="startTheNote('e5')" [ngClass]="{whiteBtn: true, highlightBtn: isHighlighted.e5, middleBtn: true}" id="e5"></button></li>
        <li><button (click)="startTheNote('f5')" [ngClass]="{whiteBtn: true, highlightBtn: isHighlighted.f5}" id="f5"></button></li>
        <li><button (click)="startTheNote('fg5')" [ngClass]="{blackBtn: true, highlightBtn: isHighlighted.fg5}" id="fg5"></button></li>
        <li><button (click)="startTheNote('g5')" [ngClass]="{whiteBtn: true, highlightBtn: isHighlighted.g5, middleBtn: true}" id="g5"></button></li>
        <li><button (click)="startTheNote('ga5')" [ngClass]="{blackBtn: true, highlightBtn: isHighlighted.ga5}" id="ga5"></button></li>
        <li><button (click)="startTheNote('a5')" [ngClass]="{whiteBtn: true, highlightBtn: isHighlighted.a5, middleBtn: true}" id="a5"></button></li>
        <li><button (click)="startTheNote('ab5')" [ngClass]="{blackBtn: true, highlightBtn: isHighlighted.ab5}" id="ab5"></button></li>
        <li><button (click)="startTheNote('b5')" [ngClass]="{whiteBtn: true, highlightBtn: isHighlighted.b5, middleBtn: true}" id="b5"></button></li>
    </ul>   
